<ion-view view-title="蓬莱阁">
  <ion-content class="padding">
    <h4>进入马奶奶的深度学习世界</h4>
    <p>
    这是我的个人学习空间，里面承载我自己学习和进步的成果，欢迎你给出相关的意见<a href="https://github.com/mannma" target="_blank">我的地盘我做主</a>.
    </p>
    <p>
    恒丰业务知识<a href="" target="_blank">恒丰业务知识</a>.
    </p>
    <p>
    金融知识<a href="" target="_blank">金融知识</a>.
    </p>
    <p>
    互联网知识<a href="" target="_blank">互联网知识</a>.
    </p>
    <p>
    大数据平台技术知识<a href="" target="_blank">大数据平台技术知识</a>.
    </p>
    <p>
    大数据应用技术知识<a href="" target="_blank">大数据应用技术知识</a>.
    </p>
    <p>
    数据产品创新知识<a href="" target="_blank">数据产品创新知识</a>.
    </p>
    <p>
    大数据投资合作知识<a href="" target="_blank">大数据投资合作知识</a>.
    </p>
    <h6>特别鸣谢我的家庭，朋友的大力支持，没有你们我无法获得更多的进步。</h6>
    <h6>2017.01.01</h6>
  </ion-content>
</ion-view>
